<configuration scan="true">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/moulliet/transport/logs/transport.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover, automatically compressed -->
            <fileNamePattern>
                /home/moulliet/transport/logs/transport.log.%d{yyyy-MM-dd}.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date %level [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.moulliet" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>