
.heatmapArea img {
    max-width: none;
}

.heatmapArea label {
    width: auto; display:inline;
}
.heatmapArea {
    position: relative;
    float: left;
    border: 0;
    height: 100%;
    width: 100%;
    cursor: crosshair;
}

.settingsTable {
    background: #fff;
}

.sideTable {
    background: #fff;
    opacity: 0.85;
    font-size: 14px;
    border: none;
}

.offset-row {
    background: #E2E2E2;
}

table, td {
    border-top: none;
}

.heatmapArea label {
    font-size: 14px;
}

.heatmapArea .refreshDiv {
    font-size: 14px;
}

.refreshDiv {
    overflow: auto;
    position: absolute;
    z-index: 3;
    right: 48%;
    top: 48%;
}

.legend {
    opacity: 0.85;
    background: #fff;
    overflow: auto;
    position: absolute;
    z-index: 3;
    right: 10px;
    bottom: 20px;
}

#max {
    position: absolute;
    z-index: 3;
    right: 4px;
}

.sideSettings {
    overflow: auto;
    position: absolute;
    z-index: 3;
    left: 0;
}

.nav img {
    padding-left: 5px;
    padding-top: 5px;
}

.main {
    margin-left: 5px;
}
body {
    padding-top: 41px;  /*60px to make the container go all the way to the bottom of the topbar*/
}

.locations, .locations svg {
    position: absolute;
}

.locations svg {
    width: 200px;
    height: 200px;
    padding-right: 200px;
    font: 10px sans-serif;
}

.locations circle {
    fill: green;
    stroke: black;
    stroke-width: 1.5px;
}

.legend {
    fill: black;
    background: RGBA(0,0,0,0);
}

.navbar .nav {
    padding: 0px 0px 0px 0px;

}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-inner{
    background-image:none !important;
}

.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus {
    background-color: #4d5e66 !important;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    background-color: #4d5e66 !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle{
    background-color:#4d5e66 !important;
    color:#fff;
}

.nav .dropdown-toggle .caret {
    border-top-color: #889DA1;
    border-bottom-color: #889DA1;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

.table {
    width: 100%;
    margin-bottom: 0;
}


input[type="file"] {
    width: 500px;
}

input,
textarea,
.uneditable-input {
    width: 500px;
}

.legend-area {
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 10px;
    background: white;
    outline: 1px solid black;
    line-height: 1em;
}

h4 {
    margin: 0;
    padding: 0;
}

.tooltip-area {
    position: absolute;
    top: 41px;
    left: 0;
    width: 30px;
    height: 15px;
    padding: 2px;
    background: white;
    line-height: 1em;
    display:none;
    font-size: 14px;
    font-weight: bold;
}