<html lang="en" ng-app="crash">
<head>
    <title>Metro Crash Map</title>
    <meta name="keywords" content="metro, crash, heatmap, leaflet, javascript, canvas, html5"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Greg Moulliet">
    <link rel="icon" href="http://www.oregonmetro.gov/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link href="lib/bootstrap-css/css/bootstrap.css" rel="stylesheet">
    <link href="lib/bootstrap-css/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/crash-data.css" rel="stylesheet">

    <script type="text/javascript">
        var testCanvas = document.createElement("canvas");
        if (!('getContext' in testCanvas))
        {
            alert('Your browser is not supported by the heatmap library.  I recommend using Google Chrome.  ' +
                    'This website will work in latest version of all major browsers: Chrome, Firefox, Safari and Internet Explorer.');
        }
    </script>
</head>
<body>
<div ng-controller="UserController">
    <div class="navbar navbar-inverse navbar-fixed-top metro">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="index.html">Metro Crash Map - Home</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <ul class="nav">
                            <li class="active"><a href="crashes.html">Crash Map</a></li>
                            <li ng-repeat="link in links">
                                <a href="{{ link.href }}">{{ link.name }}</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="CrashController">
    <div class="container" id="containerDiv" >
        <div id="sideSettingsDiv" class="sideSettings oregonSideSettings">
            <div id="settingsButton">
                <button id="changeSettings" type="button" class="btn btn-info hide" data-toggle="collapse" data-target="#settingsTable">
                    Settings <span class="caret"></span>
                </button>
            </div>
            <div id="settingsTable" class="collapse hide">
                <table cellpadding="2" class="sideTable table table-condensed ">
                    <tr>
                        <td colspan="7">Hold cursor over a setting for more info</td>
                    </tr>
                    <tr class="offset-row">
                        <th><div title="The mode(s) of travel of the parties involved in the crash">Mode:</div></th>
                        <td colspan="2"> <div title="Cars only: shows crashes involving only motor vehicles (includes trucks, buses, and motorcycles)"><label for="Car"><input id="Car" type="checkbox" ng-model="settings.cars" ng-change="loadData()"> Cars Only: {{summary.cars}}</label></div> </td>
                        <td colspan="2"> <div title="Bike(s): shows crashes involving a person bicycling and a motor vehicle"><label for="Bike"><input id="Bike" type="checkbox" ng-model='settings.bikes' ng-change="loadData()"> Bike(s): {{summary.bikes}}</label></div> </td>
                        <td colspan="2"> <div title="Ped(s): shows crashes involving a person walking or in a wheelchair and a motor vehicle"><label for="Ped"><input id="Ped" type="checkbox" ng-model='settings.peds' ng-change="loadData()"> Ped(s): {{summary.peds}}</label></div> </td>
                    </tr>
                    <tr>
                        <th><div title="Severity: The most severe injury resulting from a crash">Severity:</div></th>
                        <td colspan="2"> <div title="Fatality: Occurrence of death as a result of the crash"><label for="Fatality"><input id="Fatality" type="checkbox" ng-model='settings.fatal' ng-change="loadData()"> Fatality: {{summary.fatal}}</label></div> </td>
                        <td colspan="2"> <div title="Injury A: Severe, incapacitating injuries that prevent a person from walking, driving or continuing normally"><label for="InjuryA"><input id="InjuryA" type="checkbox" ng-model='settings.injuryA' ng-change="loadData()"> Injury A: {{summary.injuryA}}</label></div> </td>
                        <td colspan="2"> <div title="Injury B: Moderate, non-incapacitating injuries where it is evident to observers that an injury has occurred (i.e., bruises, minor bleeding)"><label for="InjuryB"><input id="InjuryB" type="checkbox" ng-model='settings.injuryB' ng-change="loadData()"> Injury B: {{summary.injuryB}}</label></div> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2"> <div title="Injury C: Minor injuries that may not be evident to observers that an injury has occurred, but the injured person may complain of pain"><label for="InjuryC"><input id="InjuryC" type="checkbox" ng-model='settings.injuryC' ng-change="loadData()"> Injury C: {{summary.injuryC}}</label></div> </td>
                        <td colspan="2"> <div title="Property: Property damage only, such as vehicle or bicycle damage."><label for="Property"><input id="Property" type="checkbox" ng-model='settings.property' ng-change="loadData()"> Property: {{summary.property}}</label></div> </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr class="offset-row">
                        <th><div title="DUII: Driving under the influence of intoxicants. Crashes involving reported use of drugs or alcohol. (total may exceed 100%)">DUII:</div></th>
                        <td colspan="2"> <div title="Show crashes where all active participants are sober"><label for="Sober"><input id="Sober" type="checkbox" ng-model='settings.sober' ng-change="loadData()"> Sober: {{summary.sober}}</label></div> </td>
                        <td colspan="2"> <div title="Show crashes involving alcohol (may also include crashes with drug use)"><label for="Alcohol"><input id="Alcohol" type="checkbox" ng-model='settings.alcohol' ng-change="loadData()"> Alcohol: {{summary.alcohol}}</label></div> </td>
                        <td colspan="2"> <div title="Show crashes involving drugs (may also include crashes with alcohol use)"><label for="Drug"><input id="Drug" type="checkbox" ng-model='settings.drug' ng-change="loadData()"> Drugs: {{summary.drug}}</label></div> </td>
                    </tr>
                    <tr>
                        <td><div title="Show crashes in 2007"><label for="2007"><input id="2007" type="checkbox" ng-model='settings.y2007' ng-change="loadData()"> 2007</label></div></td>
                        <td><div title="Show crashes in 2008"><label for="2008"><input id="2008" type="checkbox" ng-model='settings.y2008' ng-change="loadData()"> 2008</label></div></td>
                        <td><div title="Show crashes in 2009"><label for="2009"><input id="2009" type="checkbox" ng-model='settings.y2009' ng-change="loadData()"> 2009</label></div></td>
                        <td><div title="Show crashes in 2010"><label for="2010"><input id="2010" type="checkbox" ng-model='settings.y2010' ng-change="loadData()"> 2010</label></div></td>
                        <td><div title="Show crashes in 2011"><label for="2011"><input id="2011" type="checkbox" ng-model='settings.y2011' ng-change="loadData()"> 2011</label></div></td>
                        <td><div title="Show crashes in 2012"><label for="2012"><input id="2012" type="checkbox" ng-model='settings.y2012' ng-change="loadData()"> 2012</label></div></td>
                        <td><div title="Show crashes in 2013"><label for="2013"><input id="2013" type="checkbox" ng-model='settings.y2013' ng-change="loadData()"> 2013</label></div></td>
                    </tr>
                    <tr class="offset-row">
                        <th><div title="Colors: Heat map color scale.">Colors:</div></th>
                        <td colspan="3"> <div title="Default Color Scheme: Blue, Green, Yellow, Red"><label for="default"><input id="default" value="default" type="radio" ng-model='settings.colors' ng-change="reloadPage()"> Blue Green Yellow Red</label></div></td>
                        <td colspan="3"> <div title="Orange, Red"><label for="orrd"><input id="orrd" value="orrd" type="radio" ng-model='settings.colors' ng-change="reloadPage()"> Orange Red</label></div></td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <button id="advancedSettings" type="button" class="btn btn-info" data-toggle="collapse" data-target="#advancedTable">
                                Advanced <span class="caret"></span>
                            </button>
                            <div id="advancedTable" class="collapse">
                                <table cellpadding="2" class="sideTable table table-condensed">
                                    <tr>
                                        <th><div title="Type: Crash type is determined by the travel direction of the crash participants when the crash occurred">Type:</div></th>
                                        <td><div title="Angle: An angle collision results when vehicles collide while traveling on crossing - typically perpendicular - paths"><label for="angle"><input id="angle" type="checkbox" ng-model='settings.angle' ng-change="loadData()"> Angle: {{summary.angle}}</label></div></td>
                                        <td><div title="Head-On: A head-on type of collision results when drivers of two vehicles traveling in opposite directions on parallel paths attempt to occupy the same position"><label for="headOn"><input id="headOn" type="checkbox" ng-model='settings.headOn' ng-change="loadData()"> Head-On: {{summary.headOn}}</label></div> </td>
                                        <td><div title="Rear End: A rear end collision results when a vehicle traveling in the same direction or parallel on the same path as another vehicle, collides with the rear end or a second vehicle"><label for="rearEnd"><input id="rearEnd" type="checkbox" ng-model='settings.rearEnd' ng-change="loadData()"> Rear End: {{summary.rearEnd}}</label></div></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td><div title="Sideswipe: A sideswipe meeting collision results when vehicles traveling in the same or opposite directions on parallel paths collide, involving the side of at least one of the vehicles"><label for="sideSwipe"><input id="sideSwipe" type="checkbox" ng-model='settings.sideSwipe' ng-change="loadData()"> Sideswipe: {{summary.sideSwipe}}</label></div></td>
                                        <td><div title="Turning: A turning movement collision results when one or more vehicles in the act of a turning maneuver is involved in a collision with another vehicle"><label for="turning"><input id="turning" type="checkbox" ng-model='settings.turning' ng-change="loadData()"> Turning: {{summary.turning}}</label></div> </td>
                                        <td><div title="Other: Not one of the types listed above. This could include backing, fixed object, rollover, parking, pedestrian, animal, or another rare crash type."><label for="other"><input id="other" type="checkbox" ng-model='settings.other' ng-change="loadData()"> Other: {{summary.other}}</label></div></td>
                                    </tr>
                                    <tr class="offset-row">
                                        <th><div title="Light: Time of day when the crash occurred based on daylight">Light:</div></th>
                                        <td><div title="Show crashes during the day"><label for="Day"><input id="Day" type="checkbox" ng-model='settings.day' ng-change="loadData()"> Day: {{summary.day}}</label></div></td>
                                        <td><div title="Show crashes at night"><label for="Night"><input id="Night" type="checkbox" ng-model='settings.night' ng-change="loadData()"> Night: {{summary.night}}</label></div></td>
                                        <td><div title="Show crashes during twilight"><label for="Twilight"><input id="Twilight" type="checkbox" ng-model='settings.twilight' ng-change="loadData()"> Twilight: {{summary.twilight}}</label></div></td>
                                    </tr>
                                    <tr>
                                        <th><div title="Surface: Weather conditions on the roadway surface at the time of the crash">Surface:</div></th>
                                        <td><div title="Show crashes on dry surfaces"><label for="Dry"><input id="Dry" type="checkbox" ng-model='settings.dry' ng-change="loadData()"> Dry: {{summary.dry}}</label></div></td>
                                        <td><div title="Show crashes on wet surfaces"><label for="Wet"><input id="Wet" type="checkbox" ng-model='settings.wet' ng-change="loadData()"> Wet: {{summary.wet}}</label></div></td>
                                        <td><div title="Show crashes on snow or ice"><label for="Snow"><input id="Snow" type="checkbox" ng-model='settings.snowIce' ng-change="loadData()"> Snow/Ice: {{summary.snowIce}}</label></div> </td>
                                    </tr>
                                    <tr class="offset-row">
                                        <th><div title="Scope: Relative scale that the heat map color scale is based on">Scope:</div></th>
                                        <td><div title="Window: Heat map scale is relative to the user’s view in the open map window (number reflects the number of viewable crashes)"><label for="window"><input id="window" type="radio" value="Window" ng-model='settings.scope' ng-change="loadData()"> Window: {{windowTotal}}</label></div></td>
                                        <td colspan="2"><div title="All crashes: Heat map scale is relative to the entire Portland Metro region (number reflects the number of crashes in the region)"><label for="regional"><input id="regional" type="radio" value="Regional" ng-model='settings.scope' ng-change="loadData()"> All Crashes: {{fixedTotal}}</label></div></td>
                                    </tr>
                                    <!--<tr>
                                        <th><div title="Show geographic locations where ODOT puts crashes without a precisely known location">Sinks:</div></th>
                                        <td colspan="3"><div title="Show geographic locations where ODOT puts crashes without a precisely known location"><label for="sinks"><input id="sinks" type="checkbox" value="false" ng-model="settings.sinks" ng-change="showSinks()"> Sinks Locations</label></div></td>
                                    </tr>-->
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div id="refreshDiv" class="refreshDiv well hidden"></div>
        <div class="legend tooltip-area"></div>
        <div id ='legend' class="legend legend-area">
            <h4>Crash Count</h4>
            <span id="min"></span>
            <span id="max"></span>
            <img id="gradient" src="" style="width:100%" />
        </div>
        <div id='settingsText' class="hide">{{ settingsText() }}</div>
    </div>
    </div>
</div>

<div id="main" class="map-wrapper">
    <div id="heatmapArea" class="heatmapArea"></div>


</div>
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="lib/heatmap.js/build/heatmap.js"></script>
<script type="text/javascript" src="lib/heatmap.js/plugins/leaflet-heatmap.js"></script>
<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-css/js/bootstrap.js"></script>

<script type="text/javascript" src="js/settings.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/user.js"></script>
<script type="text/javascript" src="js/crashes.js"></script>

</body>
</html>
