<html lang="en" ng-app="crash">
<head>
    <meta charset="utf-8">
    <title>Metro Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Metro Crash Map Login">
    <meta name="author" content="Greg Moulliet">
    <link rel="icon" href="http://www.oregonmetro.gov/favicon.ico" type="image/x-icon">
    <link href="lib/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/bootstrap-css/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/crash-data.css" rel="stylesheet">
    <style>
        body { padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ }
    </style>
</head>
<body>
<div ng-controller="UserController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="index.html">Metro Crash Map - Home</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li ng-repeat="link in links">
                            <a href="{{ link.href }}">{{ link.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Login:</h3>
        <div ng-switch="!!message"> {{ message }} </div>
        <label for="user">Username <input type="text" id="user" name="user" ng-model='user'/></label>
        <label for="password">Password <input type="password" id="password" ng-model='password' name="password"></label>
        <input type="submit" value="Submit" ng-click="login()">
    </div>
</div>

<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-css/js/bootstrap.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/user.js"></script>
</body>
</html>
