<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.moulliet" level="DEBUG"/>
    <!--<logger name="com.moulliet.metro.filter" level="TRACE"/>
    <logger name="com.moulliet.metro.crash.Point" level="TRACE"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>